@import '../utils/Utils.css';

div.signup-page {
    form#signup-form {
        width: var(--form-width);
        max-width: 100%;
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: var(--padding-xs);

        h1 {
            width: 100%;
            text-align: center;
        }

        label {
            width: 100%;
        }

        button {
            margin-top: var(--padding-s);
        }
    }
}
